<!DOCTYPE html>
<html>
	<head>
		<title>Yo China Website</title>
		<link rel="stylesheet" type="text/css" href="../static/RWD_Team19.css">
	</head>
	<body>
		<div class="wrapper">
			<header>
				<h1><img src="../images/Mascot.png" alt="Bok Choi" width="100%" height="100%"/></h1>
				<nav>
					<ul>
						<li><a href="" class="current">Home</a></li>
						<li><a href="">Menu</a></li>
						<li><a href="">What's new</a></li>
						<li><a href="">Locations</a></li>
						<li><a href="">Coupons</a></li>
						<li><a href="">Careers</a></li>
						<li><a class='selected' href=""><strong>Order Online</strong></a></li>
					</ul>
				</nav>
			</header>
			<section class="courses">
								<article>
                  	<figure>
                        <img src="../static/Cold-Veggie-Pizza-Appetizer.jpg" alt="Bok Choi" width="100%" height="98%"/>
                        <figcaption>Cold Veggie Pizza</figcaption>
                    </figure>
                    <hgroup>
                        <h2>About Us</h2>
                        <h3>Mouth Watering Pizzas</h3>
                    </hgroup>
                    <p>We deliver fresh and exotic pizzas all accross Texas. Delivery/carryout chain offering a wide range of pizza, plus chicken wings and other sides.</p>
                </article>
                <article>
                    <figure>
                        <img src="../static/pasta.jpg" alt="Teriyaki sauce" width="100%" height="98%"/>
                        <figcaption>Fettuccini Pasta</figcaption>
                    </figure>
                    <hgroup>
                        <h2>Aggieland Hot/Cold Pastas</h2>
                        <h3>Workshop by Chef Andre Araujo</h3>
                    </hgroup>
                    <p>An intensive one-day course looking at how to create the most delicious sauces for use in a range of Italian Pastas.</p>
                </article>
			</section>
			<aside>
				<section class="popular-recipes">
					<h2>Important Links</h2>
					<a href="https://www.tamu.edu/">Texas A&M</a>
					<a href="http://mays.tamu.edu/">Mays Business School</a>
					<a href="http://mays.tamu.edu/department-of-information-and-operations-management/">INFO Department</a>
					<a href="http://ecampus.tamu.edu/">Ecampus</a>
			</section>
			<br>
			<br>
			<br>
							<section class="contact-details">
									<h2>Contact</h2>
									<p>Yo China<br />
											27 Redchurch Street<br />
											College Station<br />
											TX 77840<br />
											Ph: 900-GET-FOOD</p>
							</section>
							<div class="map-responsive">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3433.170198182818!2d-96.32763868569693!3d30.6291605976696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzDCsDM3JzQ1LjAiTiA5NsKwMTknMzEuNiJX!5e0!3m2!1sen!2sus!4v1456709682750"
								 width="800" height="500" frameborder="0" style="border:2" allowfullscreen></iframe>
							</div>
					</aside>
					<footer>
					©Developed by Team 19
					</footer>
		</div>
	</body>
</html>
